#geral{
    width: 1240px;
    margin: 0 auto;
    padding: 100px;
}

#cabecalho{
    color: black;
    text-align: center;
    border-bottom: 2px solid black;
     
}

#cabecalho nav ul{
    text-align: center;
}

#cabecalho nav li{
    display: inline-block;
    
}

#cabecalho nav li a{
    display: block;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;

}

#cabecalho nav li a:hover{
    color: orange;
}


#rodape{
    text-align: center;
    font-size: 22px;
    
}

#borda{
    border-bottom: 2px solid black;
    padding: 10px;
}
 
#homepage{
    text-align: center;
}

#text{
    text-align: center;
    font-size: 2.0rem;
    margin-top: 50px;
}

#aula{
    padding: 20px;
    text-align: center;
}

input{
    width: 100%;
    color: grey;
    margin-top: 5px;
}

h2{
    text-align: center;
}

strong {
    color: aqua;
}


    
   


